.navbar {
  width: 100%;
  height: 15vh;
  position: fixed;
  z-index: 99;
  background-color: black;
  font-size: 1rem;
  &-contents {
    height: 100%;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-right, .navbar-left {
    width: 50%;
  }

  .navbar-left {
    .navbar-logo {
      z-index: 100;
      position: absolute;


      h1, h6 {
        margin: 0;
        padding: 0;
      }
      h6 {
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        color: white;
      }
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .navbar-right {
    display: flex;
    justify-content: flex-end;
    a {
      transition: all 0.2s ease-in-out;
      &:hover {
        color: white;
      }
    }

    .navbar-links {
      display: flex;
      justify-content: flex-end;
      gap: 80px;
    }

    .navbar-links-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.9);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      z-index: 99;
      gap: 40px;

      a {
        font-size: 2rem;
        margin: 15px;
      }
    }
    .navbar-icons {
      display: none;
      position: absolute;
      z-index: 100;
      cursor: pointer;
      background: transparent;
      border: none;
      outline: none;
      font-size: 24px;
    }
  }
  a {
    text-decoration: none;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 2px;
  }
}

@media only screen and (max-width: 1200px) {
  .navbar {
    background: black;
  }
  .navbar-links {
    display: none !important;
  }
  .navbar-icons {
    display: block !important;
    text-align: right;
  }
}
